replicaCount: 1

java-service:
  fullnameOverride: "hello-service"

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  port: 8080

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
